.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.prime {
  border: rgb(5, 77, 178) solid 1px;
  padding: 6px;
  border-radius: 6px;
  color: rgb(190, 223, 251);
  background-color: rgb(109, 154, 245);
  transition: color 1s ease;
  transition: background-color 2s ease;
}

.prime:hover {
  background-color: rgb(202, 217, 248);
  color: rgb(63, 135, 243);
}

.prime:active {
  transition: background-color 0.4s ease;
  background-color: rgb(45, 78, 145);
  color: rgb(190, 223, 251);
}

.cancel {
  border: rgb(68, 69, 70) solid 1px;
  padding: 6px;
  border-radius: 6px;
  color: rgb(239, 246, 252);
  background-color: rgb(132, 139, 153);
  transition: background-color 2s ease;
}

.cancel:hover {
  background-color: rgb(236, 241, 253);
  transition: color 1s ease;
  color: rgb(122, 123, 124);
}

.cancel:active {
  transition: background-color 0.4s ease;
  background-color: rgb(45, 78, 145);
  color: rgb(239, 246, 252);
}

.create {
  border: rgb(5, 178, 68) solid 1px;
  padding: 6px;
  border-radius: 6px;
  color: rgb(95, 141, 107);
  background-color: rgb(109, 245, 125);
  transition: color 1s ease;
  transition: background-color 2s ease;
}

.create:hover {
  background-color: rgb(203, 248, 202);
  color: rgb(75, 207, 52);
}

.create:active {
  transition: background-color 0.4s ease;
  background-color: rgb(57, 145, 45);
  color: rgb(198, 251, 190);
}
